  <nav class="navbar navbar-default-bg-primary navbar-fixed-bottom" style="background-color:blue">
  <div class="container">
   <h4 class="navbar-text">&copy; Franco Chong| 2017 All rights reserved. </h4>
  </div>
</nav>
  
  <!--javascript section-->
    <script scr="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script scr="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script scr="/Scripts/app.js"></script>

  </body>
</html>