<% include ../partials/header.ejs %>

  <!--Main section-->
  <div class="container">
    <div class="col-md-3">
    </div>
    <h3><u>About Me</u></h3>
    <div class="row">
      <div class="col-md-4">
        <p>My name is Franco Chong. I am currently a student at Centennial College enrolled in Software Engineering Interactive Gaming.
          I am also a graduate from Sheridan College in Computer Programming.
        </p>
      </div>
      <img src="Assets/images/centennial.png" alt="centennial" width="150" height="100">
      </div>
      <div class="row">
      <div class="col-md-4">
        <p>The programming languages I know and work with are Java, C# and Unity for game development.</p>
      </div>
      <img src="Assets/images/sheridan.jpg" alt="sheridan" width="150" height="100">
      </div>
      <div class="row">
      <div class="col-md-4">
        <p>During my free time, I would either watch anime or play MMORPG games such as Elsword Online, and Blade and Soul.</p>
      </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>