<% include ../partials/header.ejs %>

  <!--Main section-->
  <div class="container">
    <div class="jumbotron">
      <h1>My Services</h1>
      <br>
      <ul>
        <li>Java programming</li>
        <li>C# programming</li>
        <li>Unity</li>
      </ul>
    </div>
  </div>

  <% include ../partials/footer.ejs %>