/* Custom CSS goes here */
body { padding-bottom: 70px;
background-color: black; 
}

a{
    color: white;
}

h4{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

